@font-face {
    font-family:'ClimaconsRegular';
    src: url('../font/climacons-webfont.eot');
    src: url('../font/climacons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/climacons-webfont.woff') format('woff'),
         url('../font/climacons-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*  Climacons styles
    ------------------------------------------------------- */
[class^="weather-"]:before, [class*=" weather-"]:before {
  font-family: 'ClimaconsRegular';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  position: relative;
  margin: 0 0 0 25%;
}
a [class^="weather-"], a [class*=" weather-"] {
  display: inline-block;
  text-decoration: inherit;
}


.weather-0:before { content:"("; } /* tornado */
.weather-1:before { content:""; } /* tropical storm */
.weather-2:before { content:"("; } /* hurricane */
.weather-3:before { content:"z"; } /* severe thunderstorms */
.weather-4:before { content:"z"; } /* thunderstorms */
.weather-5:before { content:"y"; } /* mixed rain and snow */
.weather-6:before { content:"y"; } /* mixed rain and sleet */
.weather-7:before { content:"y"; } /* mixed snow and sleet */
.weather-8:before { content:"e"; } /* freezing drizzle */
.weather-9:before { content:"o"; } /* drizzle */
.weather-10:before { content:"e"; } /* freezing rain */
.weather-11:before { content:"6"; } /* showers */
.weather-12:before { content:"6"; } /* showers */
.weather-13:before { content:"]"; } /* snow flurries */
.weather-14:before { content:"]"; } /* light snow showers */
.weather-15:before { content:"]"; } /* blowing snow */
.weather-16:before { content:"]"; } /* snow */
.weather-17:before { content:"o"; } /* hail */
.weather-18:before { content:"o"; } /* sleet */
.weather-19:before { content:"g"; } /* dust */
.weather-20:before { content:"g"; } /* foggy */
.weather-21:before { content:"g"; } /* haze */
.weather-22:before { content:"g"; } /* smoky */
.weather-23:before { content:"k"; } /* blustery */
.weather-24:before { content:"k"; } /* windy */
.weather-25:before { content:"-"; } /* cold */
.weather-26:before { content:"`"; } /* cloudy */
.weather-27:before { content:"2"; } /* mostly cloudy (night) */
.weather-28:before { content:"1"; } /* mostly cloudy (day) */
.weather-29:before { content:"2"; } /* partly cloudy (night) */
.weather-30:before { content:"1"; } /* partly cloudy (day) */
.weather-31:before { content:"/"; } /* clear (night) */
.weather-32:before { content:"v"; } /* sunny */
.weather-33:before { content:"/"; } /* fair (night) */
.weather-34:before { content:"v"; } /* fair (day) */
.weather-35:before { content:"e"; } /* mixed rain and hail */
.weather-36:before { content:"E"; } /* hot */
.weather-37:before { content:"z"; } /* isolated thunderstorms */
.weather-38:before { content:"z"; } /* scattered thunderstorms */
.weather-39:before { content:"z"; } /* scattered thunderstorms */
.weather-40:before { content:"6"; } /* scattered showers */
.weather-41:before { content:"]"; } /* heavy snow */
.weather-42:before { content:"]"; } /* scattered snow showers */
.weather-43:before { content:"]"; } /* heavy snow */
.weather-44:before { content:"`"; } /* partly cloudy */
.weather-45:before { content:"z"; } /* thundershowers */
.weather-46:before { content:"]"; } /* snow showers */
.weather-47:before { content:"z"; } /* isolated thundershowers */