@font-face {
    font-family:'ClimaconsRegular';
    src: url('../font/climacons-webfont.eot');
    src: url('../font/climacons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/climacons-webfont.woff') format('woff'),
         url('../font/climacons-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'ortodoxasemibold_italic';
    src: url('../font/monograma_-_ortodoxa-semibolditalic-webfont.eot');
    src: url('../font/monograma_-_ortodoxa-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/monograma_-_ortodoxa-semibolditalic-webfont.woff2') format('woff2'),
         url('../font/monograma_-_ortodoxa-semibolditalic-webfont.woff') format('woff'),
         url('../font/monograma_-_ortodoxa-semibolditalic-webfont.ttf') format('truetype'),
         url('../font/monograma_-_ortodoxa-semibolditalic-webfont.svg#ortodoxasemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ortodoxabold_italic';
    src: url('../font/monograma_-_ortodoxa-mediumitalic-webfont.eot');
    src: url('../font/monograma_-_ortodoxa-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/monograma_-_ortodoxa-mediumitalic-webfont.woff2') format('woff2'),
         url('../font/monograma_-_ortodoxa-mediumitalic-webfont.woff') format('woff'),
         url('../font/monograma_-_ortodoxa-mediumitalic-webfont.ttf') format('truetype'),
         url('../font/monograma_-_ortodoxa-mediumitalic-webfont.svg#ortodoxabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ortodoxaregular';
    src: url('../font/monograma_-_ortodoxa-regular-webfont.eot');
    src: url('../font/monograma_-_ortodoxa-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/monograma_-_ortodoxa-regular-webfont.woff2') format('woff2'),
         url('../font/monograma_-_ortodoxa-regular-webfont.woff') format('woff'),
         url('../font/monograma_-_ortodoxa-regular-webfont.ttf') format('truetype'),
         url('../font/monograma_-_ortodoxa-regular-webfont.svg#ortodoxaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ortodoxasemibold';
    src: url('../font/monograma_-_ortodoxa-semibold-webfont.eot');
    src: url('../font/monograma_-_ortodoxa-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/monograma_-_ortodoxa-semibold-webfont.woff2') format('woff2'),
         url('../font/monograma_-_ortodoxa-semibold-webfont.woff') format('woff'),
         url('../font/monograma_-_ortodoxa-semibold-webfont.ttf') format('truetype'),
         url('../font/monograma_-_ortodoxa-semibold-webfont.svg#ortodoxasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ortodoxabold';
    src: url('../font/monograma_-_ortodoxa-medium-webfont.eot');
    src: url('../font/monograma_-_ortodoxa-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/monograma_-_ortodoxa-medium-webfont.woff2') format('woff2'),
         url('../font/monograma_-_ortodoxa-medium-webfont.woff') format('woff'),
         url('../font/monograma_-_ortodoxa-medium-webfont.ttf') format('truetype'),
         url('../font/monograma_-_ortodoxa-medium-webfont.svg#ortodoxabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ortodoxalight_italic';
    src: url('../font/monograma_-_ortodoxa-lightitalic-webfont.eot');
    src: url('../font/monograma_-_ortodoxa-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/monograma_-_ortodoxa-lightitalic-webfont.woff2') format('woff2'),
         url('../font/monograma_-_ortodoxa-lightitalic-webfont.woff') format('woff'),
         url('../font/monograma_-_ortodoxa-lightitalic-webfont.ttf') format('truetype'),
         url('../font/monograma_-_ortodoxa-lightitalic-webfont.svg#ortodoxalight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ortodoxaitalic';
    src: url('../font/monograma_-_ortodoxa-italic-webfont.eot');
    src: url('../font/monograma_-_ortodoxa-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/monograma_-_ortodoxa-italic-webfont.woff2') format('woff2'),
         url('../font/monograma_-_ortodoxa-italic-webfont.woff') format('woff'),
         url('../font/monograma_-_ortodoxa-italic-webfont.ttf') format('truetype'),
         url('../font/monograma_-_ortodoxa-italic-webfont.svg#ortodoxaitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ortodoxalight';
    src: url('../font/monograma_-_ortodoxa-light-webfont.eot');
    src: url('../font/monograma_-_ortodoxa-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/monograma_-_ortodoxa-light-webfont.woff2') format('woff2'),
         url('../font/monograma_-_ortodoxa-light-webfont.woff') format('woff'),
         url('../font/monograma_-_ortodoxa-light-webfont.ttf') format('truetype'),
         url('../font/monograma_-_ortodoxa-light-webfont.svg#ortodoxalight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ortodoxa_semiboldbold_italic';
    src: url('../font/monograma_-_ortodoxa-bolditalic-webfont.eot');
    src: url('../font/monograma_-_ortodoxa-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/monograma_-_ortodoxa-bolditalic-webfont.woff2') format('woff2'),
         url('../font/monograma_-_ortodoxa-bolditalic-webfont.woff') format('woff'),
         url('../font/monograma_-_ortodoxa-bolditalic-webfont.ttf') format('truetype'),
         url('../font/monograma_-_ortodoxa-bolditalic-webfont.svg#ortodoxa_semiboldbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ortodoxa_semiboldbold';
    src: url('../font/monograma_-_ortodoxa-bold-webfont.eot');
    src: url('../font/monograma_-_ortodoxa-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/monograma_-_ortodoxa-bold-webfont.woff2') format('woff2'),
         url('../font/monograma_-_ortodoxa-bold-webfont.woff') format('woff'),
         url('../font/monograma_-_ortodoxa-bold-webfont.ttf') format('truetype'),
         url('../font/monograma_-_ortodoxa-bold-webfont.svg#ortodoxa_semiboldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}