// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

@import "font-awesome";
@import "fonts";

// Comment out this import if you are customizing you imports below
//@import "foundation";

// Compass' CSS3 mixins
@import "compass/css3";
@import "compass/layout/sticky-footer";
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

 @import "foundation/components/global"; // *always required
 @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
 @import "foundation/components/type";
 @import "foundation/components/buttons";
 @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
 @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
 @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
 @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

@include sticky-footer(200px, ".content", ".content-dock", ".dock");



body, .columns, .column { padding: 0; }


//#   /$$$$$$$$                                                                       /$$
//#  |__  $$__/                                                                      | $$
//#     | $$    /$$   /$$  /$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$ | $$$$$$$  /$$   /$$
//#     | $$   | $$  | $$ /$$__  $$ /$$__  $$ /$$__  $$ /$$__  $$ |____  $$ /$$__  $$| $$__  $$| $$  | $$
//#     | $$   | $$  | $$| $$  \ $$| $$  \ $$| $$  \ $$| $$  \__/  /$$$$$$$| $$  \ $$| $$  \ $$| $$  | $$
//#     | $$   | $$  | $$| $$  | $$| $$  | $$| $$  | $$| $$       /$$__  $$| $$  | $$| $$  | $$| $$  | $$
//#     | $$   |  $$$$$$$| $$$$$$$/|  $$$$$$/|  $$$$$$$| $$      |  $$$$$$$| $$$$$$$/| $$  | $$|  $$$$$$$
//#     |__/    \____  $$| $$____/  \______/  \____  $$|__/       \_______/| $$____/ |__/  |__/ \____  $$
//#             /$$  | $$| $$                 /$$  \ $$                    | $$                 /$$  | $$
//#            |  $$$$$$/| $$                |  $$$$$$/                    | $$                |  $$$$$$/
//#             \______/ |__/                 \______/                     |__/                 \______/




h1, h2, h3, h4, h5, h6, p, li, a {
    @include transition-property(all);
    @include transition-duration(0.3s);
    @include transition-timing-function(ease-in);

}

h1 {
	text-align: left;
//	font-size: emCalc(24px);
	line-height: 1.2;
}

h2 {
//	font-size: emCalc(16px);
	margin-bottom: .8em;
	text-transform: uppercase;
	margin-top: .8em;
	font-weight: 400;
}
p {
	padding-top: 0;
	margin-top: 0;
	line-height: 1.4;
//	font-size: emCalc(14px);
	font-weight: 100;
}
p.link  {
	margin-top: 1em;
	@include grid-column(12);
}
@media #{$small} {
	h1 { font-size: emCalc(80px); }
	h2 { font-size: emCalc(34px); margin-top: 0; }
	p { font-size: emCalc(24px); }
	.copy { margin-left: 1em; }
	p.link  {
		display: none;
	}
}
@media #{$medium} {
	h2 {

	}
}




//#    /$$$$$$    /$$                                     /$$
//#   /$$__  $$  | $$                                    | $$
//#  | $$  \__/ /$$$$$$    /$$$$$$  /$$   /$$  /$$$$$$$ /$$$$$$   /$$   /$$  /$$$$$$   /$$$$$$
//#  |  $$$$$$ |_  $$_/   /$$__  $$| $$  | $$ /$$_____/|_  $$_/  | $$  | $$ /$$__  $$ /$$__  $$
//#   \____  $$  | $$    | $$  \__/| $$  | $$| $$        | $$    | $$  | $$| $$  \__/| $$$$$$$$
//#   /$$  \ $$  | $$ /$$| $$      | $$  | $$| $$        | $$ /$$| $$  | $$| $$      | $$_____/
//#  |  $$$$$$/  |  $$$$/| $$      |  $$$$$$/|  $$$$$$$  |  $$$$/|  $$$$$$/| $$      |  $$$$$$$
//#   \______/    \___/  |__/       \______/  \_______/   \___/   \______/ |__/       \_______/





li.post-box {
	padding: 20px;
	display: inline-block;
	height: 100%;
	min-height: 100%;
}
/*.orbit-prev, .orbit-next, .orbit-slide-number {
	display: none;
	height: 0;
	width: 0;
}*/
.dock { display: none; }
	@media #{$medium} {

	}
	@media #{$large} {

	}



	@media #{$small} {

		*, html, body {
		  max-height: 100%;
		  overflow: hidden;
		}
		.orbit-slides-container {
			height: 100%;
			min-height: 100%;
		}
		li.post-box {
			height: 100%;
			min-height: 100vh;
			width: 100vw;
			min-width: 100vw;
			overflow: hidden;
		}
		img.feature {
			margin-left: 1em
		}


		.page-wrap {
		  min-height: 100%;
		  /* equal to footer height */
		  margin: 0 0 -215px 0;
		  padding-bottom: 0;
		}
		.page-wrap:after {
		  content: "";
		  display: block;
		  padding-bottom: 0;
		}
		.footer, .page-wrap:after {
		  /* .push must be the same height as footer */
		  height: 215px;
		  padding-bottom: 0;
		  margin: 0;
		}
		.dock {
			background: rgba(79,75,75,0.43);
			position: relative;
			display: block;
//			height: 215px;
			height: 50%;
			width: 100%;
		}
			.dock .columns {
				border-right: 1px solid rgba(255,255,255,0.4);
				display: inline-block;
				height: 100%;
				padding: .3em 1em;
				color: #fff;
			}
      .dock .row {
        height: 100%;
      }
			.dock .columns:last-child {
				border-right: none;
			}
			.dock h6 { color: #ffffff; }
	}


iframe {
  border:none;
  margin:0;
  padding:0;
  height: 200px;
  width: 100%;
  position: relative;
}


* { cursor: url('../cursor.png'), none; }


//#   /$$      /$$                       /$$     /$$
//#  | $$  /$ | $$                      | $$    | $$
//#  | $$ /$$$| $$  /$$$$$$   /$$$$$$  /$$$$$$  | $$$$$$$   /$$$$$$   /$$$$$$
//#  | $$/$$ $$ $$ /$$__  $$ |____  $$|_  $$_/  | $$__  $$ /$$__  $$ /$$__  $$
//#  | $$$$_  $$$$| $$$$$$$$  /$$$$$$$  | $$    | $$  \ $$| $$$$$$$$| $$  \__/
//#  | $$$/ \  $$$| $$_____/ /$$__  $$  | $$ /$$| $$  | $$| $$_____/| $$
//#  | $$/   \  $$|  $$$$$$$|  $$$$$$$  |  $$$$/| $$  | $$|  $$$$$$$| $$
//#  |__/     \__/ \_______/ \_______/   \___/  |__/  |__/ \_______/|__/


.icon {
	overflow: hidden;
	//font-size: emCalc(200px);
	font-size: 12rem;
	text-align: left;
	padding: 0 0 0 1rem !important;
	margin-top: -3%;
	@include grid-column(6);
}
.conditions {
	//margin: 16px 46px 0 0;
	text-align: left;
	@include grid-column(6);
	padding-top: 0;
}
.temperature {
	font-size: 5.3rem;
	display: block;
	line-height: 1.1;
	padding-top: .8rem;
}
.condition {
	font-size: 2rem;
	display: block;
	line-height: 1.3;
}


/*  Climacons styles
    ------------------------------------------------------- */


//#    /$$$$$$  /$$                     /$$
//#   /$$__  $$| $$                    | $$
//#  | $$  \__/| $$  /$$$$$$   /$$$$$$$| $$   /$$
//#  | $$      | $$ /$$__  $$ /$$_____/| $$  /$$/
//#  | $$      | $$| $$  \ $$| $$      | $$$$$$/
//#  | $$    $$| $$| $$  | $$| $$      | $$_  $$
//#  |  $$$$$$/| $$|  $$$$$$/|  $$$$$$$| $$ \  $$
//#   \______/ |__/ \______/  \_______/|__/  \__/


/*  --------------------------
    Thanks, @Bluxart :: http://www.alessioatzeni.com/blog/css3-digital-clock-with-jquery/
    ----------------------- */
.clock {
	width:98%;
	margin:0 auto 0 auto;
	padding: 0;
	color:#fff;
}

#Date {
	font-size: emCalc(30px);
	text-align:center;
	margin-top:10px;
	display:block;
	float:none;
	position:relative;
}

.clock ul {
	width:100%;
	margin:0 auto !important;
	padding:0 !important;
	list-style:none;
	text-align:center;
	display:block;
	line-height: 1.1;
}
.clock ul li {
	display:inline;
	text-align:center;
//	font-size: emCalc(60px);
	font-size: 6rem;
	font-weight: normal;
	margin:0;
	padding: 0;
	color:#fff;
}

#point {
	padding:0;
	font-size: 7rem;
	position:relative;
	display: inline;
	-moz-animation:mymove 1s ease infinite;
	-webkit-animation:mymove 1s ease infinite;
}
	/* Simple Animation */
	@-webkit-keyframes mymove
	{
	0% {opacity:.8; }
	50% {opacity:.1; }
	100% {opacity:.8;  }
	}

	@-moz-keyframes mymove
	{
	0% {opacity:.8; }
	50% {opacity:.1; }
	100% {opacity:.8;  }
	}

