/*----------Architecture----------*/
html{
height:100%;
margin:0;
padding:0;
width:100%;
}
* {
margin:0;
padding:0;
}
a:link, a:visited, a:hover, a:active{
outline:none;
color:#ccc;
text-shadow:0px 1px 1px #2b2b2b;
}
body{
padding:0;
height:100%;
width:100%;
background:#999;
text-align:left;
}

/*----------CONTENT----------*/
@font-face {
	font-family: 'TradeGothicLTStdLight';
	src: url('../fonts/TradeGothicLTStd-Light.eot');
	src: local('../fonts/Trade Gothic LT Std'), local('../fonts/TradeGothicLTStd-Light'), url('../fonts/TradeGothicLTStd-Light.woff') format('woff'), url('../fonts/TradeGothicLTStd-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'TradeGothicLTStdRegular';
	src: url('../fonts/TradeGothicLTStd.eot');
	src: local('../fonts/Trade Gothic LT Std'), local('../fonts/TradeGothicLTStd'), url('../fonts/TradeGothicLTStd.woff') format('woff'), url('../fonts/TradeGothicLTStd.ttf') format('truetype');
}

@font-face {
	font-family: 'TradeGothicLTStdBold';
	src: url('../fonts/TradeGothicLTStd-Bold.eot');
	src: local('../fonts/Trade Gothic LT Std'), local('../fonts/TradeGothicLTStd-Bold'), url('../fonts/TradeGothicLTStd-Bold.woff') format('woff'), url('../fonts/TradeGothicLTStd-Bold.ttf') format('truetype');
}
#myslides h1{
font:normal 500 4em 'TradeGothicLTStdBold';
color:#fff;
text-shadow:0px 1px 1px #2b2b2b;
float:left;
display:block;
margin:2% 0 0 2%;
}
#myslides h2{
font:normal 500 3em 'TradeGothicLTStdRegular';
color:#d8d8d8;
text-shadow:0px 1px 1px #2b2b2b;
float:left;
display:block;
margin:1% 2%;
clear:left;
}
#myslides p{
font:normal 500 2em 'TradeGothicLTStdRegular';
color:#ccc;
text-shadow:0px 1px 1px #2b2b2b;
float:left;
display:block;
margin:1% 2%;
clear:left;
width:90%;
}
#myslides p.url{
font:normal 500 1.4em 'TradeGothicLTStdRegular';
color:#ccc;
text-shadow:0px 1px 1px #2b2b2b;
float:right;
display:block;
margin:4% 2% 1% 2%;
clear:left;
width:90%;
text-align:right;
}
#myslides p.url a, p.url a:visited{
font:normal 500 1em 'TradeGothicLTStdRegular';
color:#ccc;
text-shadow:0px 1px 1px #2b2b2b;
display:inline;
margin:1% 2%;
width:90%;
text-decoration:none;
}
#myslides p.url a:hover{
text-decoration:underline;
}
#myslides p.url img{
width:8%;
margin:0;
vertical-align: bottom;
}
img.left{
box-shadow:0px 0px 12px rgba(0,0,0,.5);
-moz-box-shadow:0px 0px 12px rgba(0,0,0,.5);
-webkit-box-shadow:0px 0px 12px rgba(0,0,0,.5);
border-radius:7px;
-moz-border-radius:7px;
-webkit-border-radius:7px;
float:left;
display:inline;
margin:1%;
text-decoration:none;
outline:none;
width:30%;
}
img.right{
box-shadow:0px 0px 12px rgba(0,0,0,.5);
-moz-box-shadow:0px 0px 12px rgba(0,0,0,.5);
-webkit-box-shadow:0px 0px 12px rgba(0,0,0,.5);
border-radius:7px;
-moz-border-radius:7px;
-webkit-border-radius:7px;
float:right;
display:inline;
margin:1%;
text-decoration:none;
outline:none;
width:30%;
}

/*----------SLIDER----------*/
div#myslides{
height:100%;
width:100%;
}
div#myslides div{
height:100%;
width:100%;
}
div#myslides div.brown{
background:url(../background/brown.jpg) 0 0 repeat-x;
}
div#myslides div.darkblue{
background:url(../background/darkblue.jpg) 0 0 repeat-x;
}
div#myslides div.green{
background:url(../background/green.jpg) 0 0 repeat-x;
}
div#myslides div.lightblue{
background:url(../background/lightblue.jpg) 0 0 repeat-x;
}
div#myslides div.orange{
background:url(../background/orange.jpg) 0 0 repeat-x;
}
div#myslides div.purple{
background:url(../background/purple.jpg) 0 0 repeat-x;
}
div#myslides div.red{
background:url(../background/red.jpg) 0 0 repeat-x;
}

/*----------DOCK----------*/
#dock{
position:absolute;
z-index:99;
bottom:0;
left:0;
height:15%;
width:100%;
background:-webkit-gradient(linear, left top, left bottom, from(rgba(137,137,137,0.8)), to(rgba(54,54,54,0.8)), color-stop(.3,#333333));
box-shadow:-2px 0px 12px rgba(0,0,0,.6);
-moz-box-shadow:-2px 0px 12px rgba(0,0,0,.6);
-webkit-box-shadow:-2px 0px 12px rgba(0,0,0,.6);
border-top-left-radius:18px;
-moz-border-radius-topleft:18px;
-webkit-border-top-left-radius:18px;
border-top-right-radius:18px;
-moz-border-radius-topright:18px;
-webkit-border-top-right-radius:18px;
overflow:hidden;
}
#dock div{
float:left;
display:inline;
width:31%;
border-right:dotted .11em #333;
height:95%;
margin:1% 1% 0 0;
}
#dock div:last-child{
border-right:none;
}
#dock h1{
font:normal 500 1.1em 'TradeGothicLTStdBold';
color:#fff;
text-shadow:0px 1px 1px #2b2b2b;
float:left;
display:block;
margin:0 0 0 5%;
border-bottom:dotted .11em #fff;
}
#dock p{
font:normal 500 2em 'TradeGothicLTStdRegular';
color:#ccc;
text-shadow:0px 1px 1px #2b2b2b;
float:left;
display:block;
margin:1% 2%;
clear:left;
width:90%;
}
